<main>
  <div class="not-found-page">
    <p class="not-found-paragraph">
      <% if (message) { %>
        <%= message %>
      <% } else { %>
        Page Not Found
      <% } %>
    </p>
  </div>
</main>