<link rel="stylesheet" href="/css/style.css">
<form action="/categories/add" method="POST">
    <h3>Meta Category</h3>
    <input type="text" name="metaName" placeholder="Meta name" required>
  
    <h3>Main Category</h3>
    <input type="text" name="mainName" placeholder="Main name" required>
  
    <h3>Sub Category</h3>
    <input type="text" name="subName" placeholder="Sub name" required>
  
    <button type="submit">Save All</button>
  </form>
  