<div class="add-product-page">
  <h1>Add Product</h1>
  <div class="add-links">
    <a href="/products/constant/add-product?variants=true">Add Product with Variants</a>
    <a href="/products/constant/add-product?variants=false" class="without-variants">Add Product without Variants</a>
  </div>
</div>